﻿<head>
    <title>Nuevo Usuario</title>
</head>

<body>
    <h1>Crear usuario</h1>
    <form action="/Auth/CrearUsuario" method="post">
        <p>Nombre de usuario</p>
        <input class="input" type="text" placeholder="Ingresa aquí tu nombre de usuario" name="username" required /><br />
        <br /><p>Contraseña</p>
        <input class="input" type="password" name="password" required /><br />
        <br /><button class="button is-link">Crear cuenta</button><br />
        <a href="/#" class="button is-link is-light" type="reset" style="top: 40px; position: relative;">Cancel</a>
    </form>
</body>