﻿<head>
    <title>Iniciar Sesion</title>
</head>

<body>
    <h1>Inisio de Sesion</h1>
    <div>
        <form action="/Auth/Login" method="post">
            <p>Usuario</p>
            <input class="input" type="text" name="username" placeholder="tu nombre de usuario" required /><br />
            <br /><p>Contraseña</p>
            <input class="input" type="password" name="password" required /><br />
            <br /><button class="button is-link">Iniciar sesión</button><br />
            <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
        </form>
    </div>
</body>