﻿<head>
    <title>Nuevo ingreso</title>
</head>

<body>
    <h1>Registra tus ingresos</h1>
    <form action="~/Finanzas/AgregarIngreso" method="post">
        <p>Cuenta</p>
        <input class="input" type="text" name="nombre" placeholder="Nombra tu cuenta" required />
        <p>Fecha</p>
        <input type="date" name="fecha" required />
        <p>Descripcion</p>
        <input class="input" type="text" name="descripcion" required />
        <p>Monto</p>
        <input class="input" type="text" name="saldo" required /><br />
        <button id="insesion" class="button is-link">Agregar</button>
        <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
    </form>
</body>