﻿<head>
    <title>Enviar solicitud</title>
</head>

<body>
    <h1>Aqui envio solicitudes</h1>
    <form action="~/Finanzas/EnviarSolicitud" method="post">
        <p>Nombre</p>
        <input class="input" type="text" name="nombre" placeholder="Nombra tu cuenta" required />
        <button id="insesion" class="button is-link">Enviar</button>
        <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
    </form>
</body>