﻿<head>
    <title>Mis gasto</title>
</head>

<body>
    <h1>Mis cuentas</h1><br />
    <div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cuenta</th>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Gasto cu in Model)
                     {
                        <tr>
                            <td>@cu.cuenta</td>
                            <td>@cu.fecha</td>
                            <td>@cu.descripcion</td>
                            <td>@cu.monto</td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
</body>