﻿<head>
    <title>Mis contactos</title>
</head>

<body>
    <h1>Mis contactos</h1><br />
    <div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contacto cu in Model)
                    {
                        <tr>
                            <td>@cu.nombre</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>