﻿<head>
    <title>Cuentas</title>
</head>

<body>
    <h1>Mis cuentas</h1><br />
    <div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Categoria</th>
                        <th>Saldo</th>
                        <th>Ingresos</th>
                        <th>Gastos</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Cuenta cu in Model)
                    {
                    <tr>
                        <td>@cu.nombre</td>
                        <td>@cu.categoria</td>
                        <td>@cu.sInicial</td>
                        <td><a class="btn-info nav-link text-dark text-center" href="~/Finanzas/Ingresos?id=@cu.id">Ingresos</a></td>
                        <td><a class="btn-warning nav-link text-dark text-center" href="~/Finanzas/Gastos?id=@cu.id">Gastos</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <a class="nav-link text-dark" asp-controller="Finanzas" asp-action="CrearCuenta"><h5>Crear cuenta nueva</h5></a>
        <a class="nav-link text-dark" asp-controller="Finanzas" asp-action="AgregarIngresos"><h5>Agregar ingresos</h5></a>
        <a class="nav-link text-dark" asp-controller="Finanzas" asp-action="AgregarGastos"><h5>Agregar gastos</h5></a>
        <a class="nav-link text-dark" asp-controller="Finanzas" asp-action="Transferencias"><h5>Hacer una transferencia</h5></a>
    </div>
    <div>
        <a class="nav-link text-dark" asp-controller="Finanzas" asp-action="MostrarContactos"><h5>Mis contactos</h5></a>
        <a class="nav-link text-dark" asp-controller="Finanzas" asp-action="EnviarSolicitudes"><h5>Enviar solicitudes</h5></a>
        <a class="nav-link text-dark" asp-controller="Finanzas" asp-action="MostrarSolicitudes"><h5>Ver solicitudes</h5></a>
        <a class="nav-link text-dark" asp-controller="Finanzas" asp-action="TransferenciaUsuario"><h5>Trasferencia a un amigo</h5></a>
    </div>
</body>