﻿<head>
    <title>Mis solicitudes</title>
</head>

<body>
    <h1>Mis solicitudes</h1><br />
    <div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Aceptar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Solicitud cu in Model)
                    {
                        <tr>
                            <td>@cu.nombre</td>
                            <td><a class="btn-info nav-link text-dark text-center" href="~/Finanzas/AceptarSolicitud?id=@cu.id">Aceptar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>