﻿<head>
    <title>Transferencias entre usuarios</title>
</head>

<body>
    <h1>Transfiere a tus amigos</h1>
    <div>
        <div>
            <form action="~/Finanzas/TransferenciaUsuarios" method="post">
                <p>Cuenta de origen</p>
                <input class="input" type="text" name="origen" placeholder="Nombra tu cuenta" required />
                <p>Nombre de tu amigo</p>
                <input class="input" type="text" name="nombre" placeholder="Nombra a tu amigo" required />
                <p>Cuenta de destino</p>
                <input class="input" type="text" name="destino" placeholder="Nombra la cuenta de tu amigo" required />
                <p>Fecha</p>
                <input type="date" name="fecha" required />
                <p>Monto</p>
                <input class="input" type="text" name="saldo" required /><br />
                <button id="insesion" class="button is-link">Realizar transferencia</button>
                <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
            </form>
        </div>
    </div>
</body>