﻿<head>
    <title>Tranferencias</title>
</head>

<body>
    <h1>Realiza una transferencia</h1>
    <div>
        <div>
            <form action="~/Finanzas/Transferencia" method="post">
                <p>Cuenta de origen</p>
                <input class="input" type="text" name="origen" placeholder="Nombra tu cuenta" required />
                <p>Cuenta de destina</p>
                <input class="input" type="text" name="destino" placeholder="Nombra tu cuenta" required />
                <p>Fecha</p>
                <input type="date" name="fecha" required />
                <p>Monto</p>
                <input class="input" type="text" name="saldo" required /><br />
                <button id="insesion" class="button is-link">Realizar transferencia</button>
                <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
            </form>
        </div>
    </div>
</body>